.page404 {
  background: url(../images/404/404_gradient.png) 50% 0 no-repeat #d8d8d8;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  font-family: 'Open Sans', sans-serif; }
  .page404:after {
    position: absolute;
    content: '';
    width: 980px;
    height: 370px;
    left: 50%;
    margin-left: -490px;
    top: 60px;
    background: url(../images/404/404_bg.png) 0 0 no-repeat;
    z-index: 1; }

.text404 {
  width: 520px;
  margin: 0 auto;
  padding: 170px 0 50px;
  position: relative;
  z-index: 2;
  color: #333333;
  font-size: 14px;
  line-height: 20px;
  text-align: center; }
  .text404 .icon404 {
    display: inline-block;
    vertical-align: top;
    width: 70px;
    height: 70px;
    background: url(../images/404/404_icon.png) 0 0 no-repeat; }
  .text404 .title404 {
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    color: #555555;
    margin-top: 50px; }
  .text404 .title404_2 {
    color: #333333;
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;
    margin-bottom: 36px; }
  .text404 p {
    margin: 0; }
  .text404 a {
    color: #c83030;
    text-decoration: underline; }
    .text404 a:hover {
      text-decoration: none; }
  .text404 .inMainPage {
    display: inline-block;
    vertical-align: top;
    color: #333333;
    font-size: 13px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    border: solid 2px #acacac;
    padding: 13px 0;
    width: 220px;
    margin-top: 75px; }
    .text404 .inMainPage:hover {
      border: solid 2px #c83030;
      background: #c83030;
      color: #ffffff; }

/*# sourceMappingURL=404.css.map */
