.address {
    display: none;
}

.js-noDisplay-callback {
    display: none;
}

.js-noDisplay-property {
    display: none;
}

#map {
    width: 100%;
    height: 300px;
    position: relative;
    margin: 25px 0;
}

#map .ymaps-2-1-29-map {
    width: 100%;
}

#map .centerFix {
    position: relative;
}

#sub-uslugi {
    display:none;
    position:absolute;
}

#sub-uslugi:hover {
    display:block;
}

#uslugi:hover + #sub-uslugi {
    display:block;
}
