.modalContent label span{
    color: #fff;
}
.modalContent .btn{
    margin-top: 15px;
}
.modalContent label i{
    color: #d44d29;
    font-style: normal;
}
.modalContent textarea,
.modalContent input{
    margin: 6px 0 20px;
}
.modalContent textarea{
    margin: 6px 0 10px;
}

.modalContent input[type="checkbox"]{
    margin: 2px 15px 0 0;
}

.modalContent label{
    color: #333333;
    font-size: 16px;
    margin-top: 0;
}
.modalContent{
    background: #157d69;
    background: -moz-linear-gradient(-45deg, #157d69 0%, #1a8d71 100%);
    background: -webkit-linear-gradient(-45deg, #157d69 0%, #1a8d71 100%);
    background: linear-gradient(135deg, #157d69 0%, #1a8d71 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#157d69', endColorstr='#1a8d71', GradientType=1);
    padding: 24px 30px 20px;
}