.modal-window-wrap{
    overflow: auto;
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    background: rgb(0,0,0);
    background: rgba(0,0,0,.75);
    z-index: 500;
    text-align: center;
}

.modal-window-wrap:after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

.modal-window{
    margin: 80px 20px 20px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.modal-window-header{
    background: #de3328;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    position: relative;
}

.modal-window-close{
    display: block;
    position: absolute;
    cursor: pointer;
    z-index: 3;
    width: 40px;
    height: 40px;
    left: 50%;
    margin-left: -20px;
    top: -58px;
    background: url(../images/modal-window-close.png) 0 0 no-repeat;
}

.modal-window-close.t2
{
    top: -20px;
}

.modal-window-close:hover{
    background-position: 100% 0;
}

.modal-window-body{
    position: relative;
}

.modal-window-body.loading{
    padding: 15px;
    height: 110px;
}

