.baron-wrapper{
    position: relative;
    overflow: hidden;
    height: 100%;
    max-height: inherit;
}

.baron-scroller{
    height: 100%;
    overflow-y: scroll;
    max-height: inherit;
}

.baron-scroller::-webkit-scrollbar {
    width: 0;
}

.baron-container{
    overflow: hidden;
}

.baron-scrollerTrack{
    width: 5px;
    top: 0;
    right: 5px;
    bottom: 0;
    position: absolute;
    background: #5c5c5c;
    border-radius: 2px;
    display: none;
}

.baron-scroller__bar{
    width: 3px;
    border-radius: 2px;
    background: #aeaeae;
    border: 1px solid #aeaeae;
    position: absolute;
    z-index: 1;
    display: none;
    min-height: 50px;
    opacity: .5;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
    overflow: hidden;
    cursor: pointer;
}

.baron-scroller:hover .baron-scroller__bar {
    opacity: 1;
}

.baron-scroller__bar_state_on > .baron-scrollerTrack,
.baron-scroller__bar_state_on > .baron-scrollerTrack > .baron-scroller__bar{
    display: block;
}

.baron-scroller__bar > i {
    position: absolute;
    color: #000;
    top: 50%;
    margin-top: -6px;
}

.modal-window-body .baron-scrollerTrack,
.main .baron-scrollerTrack{
    background: #DADADA;
}

.modal-window-body .baron-scroller__bar,
.main .baron-scroller__bar{
    background: #8F8F8F;
    border-color: #8F8F8F;
}

.modal-window-body .baron-scroller__bar > i,
.main .baron-scroller__bar > i{
    color: #fff;
}

.baron-scroller__bar_state_on.show-scroll-zone .container:after,
.baron-scroller__bar_state_on.show-scroll-zone .container:before{
    font-family: FontAwesome,serif;
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    z-index: 1;
    text-align: center;
    margin-left: -25px;
    padding-left: 25px;
    color: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.baron-scroller__bar_state_on.show-scroll-zone .container:after{
    content: "\f078";
    bottom: 0;
}
.baron-scroller__bar_state_on.show-scroll-zone .container:before{
    content: "\f077";
    top: 0;
}