/*
 * Copyright 2013, Widen Enterprises info@fineuploader.com
 *
 * Licensed under GNU GPL v3, see license.txt.
 */
.qq-uploader {
    position: relative;
    width: 100%;
}
.qq-upload-button {
    display: block;
    float: left;
    margin-right: 10px;
}

.qq-upload-button button{
    width: 135px;
}

.qq-upload-button-hover {

}
.qq-upload-button-focus {
    outline: 1px dotted #000000;
}
.qq-upload-drop-area, .qq-upload-extra-drop-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    min-height: 30px;
    z-index: 2;
    text-align: center;
    border: 2px dashed #dadada;
    background: #fff;
}
.qq-upload-drop-area span {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -9px;
    font-size: 18px;
    font-family: PTSans, Arial, serif;
}
.qq-upload-extra-drop-area {
    position: relative;
    margin-top: 50px;
    font-size: 16px;
    padding-top: 30px;
    height: 20px;
    min-height: 40px;
}
.qq-upload-drop-area-active {
    background: #efefef;
}
.qq-drop-processing {
    display: none;
}
.qq-drop-processing-spinner {
    display: inline-block;
    background: url(/DESIGN/CONTROL/images/preloader-cms_small.gif);
    width: 24px;
    height: 24px;
    vertical-align: text-bottom;
}

.fileLoader-offset{
    padding: 10px 0;
    margin-right: -25px;
    width: 580px;
    height: 100%;
    max-height: 325px;
}

.fileLoader-wrap{
    padding-right: 25px;
}

.fileLoader-list{

}

.fileLoader-item{
    padding: 10px 30px 10px 0;
    border-top: 1px dotted #c7c7c7;
    position: relative;
    min-height: 20px;
}

.fileLoader-item[draggable]:hover{
    cursor: move;
}

.fileLoader-item:first-child{
    border-top: 0;
}

.fileLoader-item .fileLoader-deleteItem{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 15px;
    height: 20px;
    cursor: pointer;
    font-size: 16px;
    text-align: right;
    line-height: 20px;
}

.fileLoader-item .fileLoader-deleteItem:hover i{
    color: #8f8f8f;
}

.fileLoader-itemImage-wrap{
    float: left;
    margin-right: 10px;
}

.fileLoader-itemImage-wrap img{
    vertical-align: top;
}

.fileLoader-itemImage .fileLoader-item-text{
    display: block;
    margin-left: 90px;
}

.qq-upload-spinner,
.qq-upload-file,
.qq-upload-size,
.qq-upload-cancel{
    padding-right: 10px;
}

.qq-upload-spinner{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(/DESIGN/CONTROL/images/preloader-cms_small.gif) no-repeat;
    vertical-align: middle;
}

.fileLoader{
}

.fileLoader-message{
    line-height: 1.3;
    margin-left: 141px;
}

.fileLoader-message.error{
    color: #de3328;
}

.fileLoader-itemFile{
    line-height: 30px;
}

.fileLoader-itemFile .icon-paper-clip{
    color: #000;
    font-size: 18px;
}

.fileLoader-item-fileSize{
    color: #777;
    text-align: right;
    display: inline-block;
    width: 66px;
    margin-right: 10px;
}

.fileLoader-item-fileName{

}