@font-face {
    font-family: 'PTSans';
    src: url('/DESIGN/CONTROL/fonts/PTSans.eot');
    src: url('/DESIGN/CONTROL/fonts/PTSans.eot?#iefix') format('embedded-opentype'),
         url('/DESIGN/CONTROL/fonts/PTSans.woff') format('woff'),
         url('/DESIGN/CONTROL/fonts/PTSans.ttf') format('truetype'),
         url('/DESIGN/CONTROL/fonts/PTSans.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{ 
    font-family: 'PTSansBold';
    src: url('/DESIGN/CONTROL/fonts/PTSansBold.eot');
    src: url('/DESIGN/CONTROL/fonts/PTSansBold.eot?#iefix') format('embedded-opentype'),
         url('/DESIGN/CONTROL/fonts/PTSansBold.woff') format('woff'),
         url('/DESIGN/CONTROL/fonts/PTSansBold.ttf') format('truetype'),
         url('/DESIGN/CONTROL/fonts/PTSansBold.svg#PTSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('/DESIGN/CONTROL/fonts/fontawesome-webfont.eot?v=3.0.1');
  src: url('/DESIGN/CONTROL/fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('/DESIGN/CONTROL/fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('/DESIGN/CONTROL/fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}