/* left column */

.left-column {
    width: 300px;
    height: 100%;
    background: #333;
    float: left;
    position: relative;
}

.left-column .tabContainer{
    padding: 135px 0 15px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.siteName {
    background: #111;
    padding: 30px 25px 28px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.siteName a {
    color: #fff;
    font-family: 'PTSans', arial, sans-serif;
    font-size: 20px;
}

.leftMenu{
    padding: 0 15px;
}

.leftMenu > ul > li > span{
    border-bottom: 1px solid #515151;
    color: #fff;
}

.leftMenu a{
    color: #fff;
}

.leftMenu li > span:hover{
    background: #515151;
}

.leftMenu > ul > li > span:hover{
    background: none;
}

#pagesTree .leftMenu > ul > li > span:hover{
    background: #515151;
}
#pagesTree .leftMenu > ul > li > span.active:hover{
    background: #DE3328;
}

.leftMenu li.active > a
{
    background: #de3328;
}

.leftMenu [class^="icon-"]{
    color: #bbb;
}

.leftMenu li .active > [class^="icon-"],
.leftMenu li .active > a > [class^="icon-"],
.leftMenu li .module-controls-wrap:hover{
    color: #fff;
}

.leftMenu [class^="icon-sort-"]:hover {
    color: #fff;
}

.leftMenu span.active,
li > span.active:hover{
    background: #DE3328;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.leftMenu span.active a {
    color: #fff !important;
}

.leftMenu > ul > li > span{
    padding: 6px 0 5px 30px;
}

.leftMenu > ul > li > ul > li > span {
    padding-left: 50px;
}

.leftMenu > ul > li > ul > li > ul > li > span {
    padding-left: 70px;
}

.leftMenu > ul > li > ul > li > ul > li > ul > li > span {
    padding-left: 90px;
}

.leftMenu > ul > li > ul > li > ul > li > ul > li > ul > li > span {
    padding-left: 110px;
}

.leftMenu > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > span {
    padding-left: 130px;
}

.leftMenu > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > span {
    padding-left: 150px;
}

.treeMenu .invisible > a {
    color: #aaa !important;
}

/* right column */

.right-column {
    margin-left: 315px;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding:80px 0 15px 0;
    position: relative;
}

.razdelName {
    color: #de3328;
    font-size: 26px;
    font-family: 'PTSans', arial, serif;
    padding: 43px 0 17px;
    position: absolute;
    top: 0;
}

.main {
    margin: 0 15px 0 0;
    height: 100%;
}

.main .tabBlock{
    background: #fff;
}

.main .tabs {
    background: #f2f2f2;
}

.main .tabContainer{
    padding-top:40px ;
}

.main .tabs li {
    color: #333;
}

.main .tabs li:hover {
    background: #fff;
    border: 1px solid #ececec;
    border-top: 0;
    padding: 10px 14px 9px 14px;
}

.main .tabs li.active {
    background: #fff;
}


.main .tabs li [class^="icon-"] {
    color: #333 !important;
}

.subMenuHead {
    font-size: 18px;
    font-family: 'PTSans', arial, serif;
    padding: 10px 0 6px 10px;
}

.subMenu a {
    line-height: 18px;
}

.subMenu > li a {
    font-size: 12px;
    color: #333;
    text-decoration: none;
    display: block;
    padding: 7px 0 5px 30px;
    margin-bottom: 1px;
    position: relative;
}

.subMenu > li a:hover {
    background: #efefef;
}

.subMenu li.active > a {
    background: #de3328;
    color: #fff;
}

.subMenu > li > ul > li > a {
    padding-left: 50px;
    margin-bottom: 3px;
}

.subMenu li [class^="icon-sort-"] {
    left: -20px;
    display: none;
    top: -6px;
    font-size: 15px;
}

.subMenu li .icon-sort-up {
    top: 1px;
}

.subMenu .icon-cog:hover,
.subMenu li [class^="icon-sort-"]:hover {
    color: #8f8f8f;
}

/* main right column */

.postr {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.postr a,
.postr span {
    display: inline-block;
    height: 25px;
    width: 25px;
    background: #333;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 25px;
}

.postr a:hover {
    background: #515151;
}

.postr span.active {
    background: #de3328;
}

.postr a [class^="icon-angle-"] {
    font-size: 14px;
}

.main .scrollTrack {
    background: #dadada !important;
}

.main .scroll {
    background: #8f8f8f !important;
    border: 1px solid #8f8f8f !important;
}

.main .scroll > i {
    color: #fff !important;
}

.remove-filters-link,
.toggle-filters-link{
    text-decoration: none;
}

.filters-wrap th{
    padding-bottom: 9px !important;
}

.filters-wrap input,
.filters-wrap select{
    width: 100%;
}

.zoneContent-wrapper{
    height: 100%;
    padding:15px 0;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.zoneContent-wrapper.controls{
    padding:15px 0 65px 0;
}

.zoneContent-content-wrapper{
    height: 100%;
    cursor:pointer;
}

.zoneContent-content{
    opacity: 0.5;
    filter: alpha(opacity=50);
    padding: 0 15px;
}
.zoneContent-content-wrapper .icon-pencil{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    margin: -52px 0 0 -43px;
    color: #aeaeae;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.zoneContent-content-wrapper:hover .icon-pencil{
    opacity: 1;
    filter: alpha(opacity=100);
}


.zoneContent-controls{
    position: absolute;
    width: 100%;
    padding: 15px;
    bottom: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.moduleWrap{
    height: 100%;
}