.catalogModuleWrap{
    height: 100%;
    background: #fff;
}

.catalogModuleWrap-articles{
    float: left;
    width: 285px;
    height: 100%;
    padding: 47px 0 15px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    background: #fff;
}

.catalogModuleWrap-articles-wrap{
    padding: 0 15px;
}

.catalogModuleWrap-items{
    margin-left: 285px;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.catalogModuleWrap-articles-wrap > ul > li > span{
    color: #333;
}

.catalogModuleWrap-articles-wrap a{
    color: #333;
}

.catalogModuleWrap-articles-wrap li > span:hover{
    background: #efefef;
}

.catalogModuleWrap-articles-wrap li.active > a
{
    background: #de3328;
}

.catalogModuleWrap-articles-wrap [class^="icon-"]{
    color: #bbb;
}

.catalogModuleWrap-articles-wrap li .active > [class^="icon-"],
.catalogModuleWrap-articles-wrap li .active > a > [class^="icon-"],
.catalogModuleWrap-articles-wrap li .module-controls-wrap:hover{
    color: #8F8F8F;
}

.catalogModuleWrap-articles-wrap [class^="icon-sort-"]:hover {
    color: #8F8F8F;
}

.catalogModuleWrap-articles-wrap span.active{
    background: #DE3328 !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.catalogModuleWrap-articles-wrap span.active > a,
.catalogModuleWrap-articles-wrap span.active > .icon-cog,
.catalogModuleWrap-articles-wrap span.active > .icon-sort-up,
.catalogModuleWrap-articles-wrap span.active > .icon-sort-down{
    color: #fff !important;
}

.catalogModuleWrap-articles-wrap > ul > li > span{
    padding: 6px 0 5px 10px;
}

.catalogModuleWrap-articles-wrap > ul > li > ul > li > span {
    padding-left: 30px;
}

.catalogModuleWrap-articles-wrap > ul > li > ul > li > ul > li > span {
    padding-left: 50px;
}

.catalogModuleWrap-articles-wrap > ul > li > ul > li > ul > li > ul > li > span {
    padding-left: 70px;
}

.catalogModuleWrap-articles-wrap > ul > li > ul > li > ul > li > ul > li > ul > li > span {
    padding-left: 90px;
}

.catalogModuleWrap-articles-wrap > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > span {
    padding-left: 110px;
}

.catalogModuleWrap-articles-wrap > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > span {
    padding-left: 130px;
}

.subRazdelName {
    color: #de3328;
    font-size: 20px;
    font-family: 'PTSans', arial, serif;
    padding: 5px 0 16px 14px;
    margin-right: 200px;
}

.catalogModuleWrap-articles-label{
    position: absolute;
    top: 13px;
    left: 15px;
    width: 230px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'PTSans',arial;
    font-size: 18px;
}

.catalogModuleWrap-articles-label > span{
    position: relative;
    width: 100%;
    display: block;
    padding: 7px 15px 5px 10px;
}

.catalogModuleWrap-articles-label > span:hover{
    background: #EFEFEF;
}

.catalogModuleWrap-articles-label .module-controls-wrap{
    width: 1.25em;
    text-align: center;
}