.tapeModuleWrap {
    background: #fff;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    padding-bottom: 15px;
}

.tapeModuleWrap table {
    width: 100%;
    clear: right;
}

.tapeModuleWrap th {
    text-align: left;
    font-weight: normal;
    color: #fff;
    background: #333;
    padding: 6px 15px 4px;
    font-size: 14px;
    font-family: 'PTSans', arial, serif;
}

.tapeModuleWrap td {
    padding: 10px 15px 10px;
    vertical-align: top;
    border-top: 1px solid #ececec;
}
.tapeModuleWrap .filterTd {
    padding-left: 10px;
    padding-right: 10px;
}

.tapeModuleWrap .filterTd.active [class^="icon-"] {
    color: #fff;
}

.tapeModuleWrap .icon-cog {
    display: none;
    cursor: pointer;
}

.tapeModuleWrap .icon-cog:hover {
    color: #8f8f8f;
}

.tapeModuleWrap .module-controls {
    width: 14px;
}

.tapeModuleWrap tr:hover > td {
    background: #efefef;
}

.tapeModuleWrap tr:hover .icon-cog {
    display: inline-block;
}

.tapeModuleWrap button {
    float: left;
}

.tapeModuleTopControls{
    position: absolute;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.tapeModuleTopControls .backButton,
.tapeModuleTopControls .rightButton{
    float: right;
    margin-left: 15px;
}

.tapeModuleTableWrap{
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-top: 15px;
}

.tapeModuleTableWrap.pager{
    padding-bottom: 45px;
}

.tapeModuleTopControls + .tapeModuleTableWrap{
    padding-top: 55px;
}